@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Montserrat, system-ui, sans-serif;
    }
}

:root {
    --accent-color: #6172f3;
    --light-color: #f5f8ff;
    --default-text-color: #09090b;
    --gray-text-color: #71717a;
    --accent-text-color: #8098f9;

    --accent-color-hover: #7088e5;

    --accent-color-disabled: #b2c1fa;
}

body {
    color: var(--default-text-color);
}

a {
    color: var(--accent-text-color);
}

@layer components {
    .container {
        max-width: 1440px;
    }
}